html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background-color: black;
}
#fondo {
  text-align:center;
  background-image: url(fondo.jpg);
  background-size: 100%;
  height: 100%;
  margin: 0px 105px 0px 105px;
}
#foto {
  height:120px;
  margin:180px auto;
}
img{
  height: 100%;
  border-radius: 50%;
  border: solid white 5px;
}
h1, h2{
  font-family: 'Indie Flower', cursive;
  color: white;
}
